.env
.eslintrc
node_modules/
dist/
build/
public/
.prettierrc
docs/
scripts/
prisma/
.zencoder
test-api-comprehensive.js
test-db-connection.js
run-migration.js
jest.config.js
db/migrations
coverage
logs
db
sabbagh_app/